*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    background: black;
    color: white;
    font-family: "Calibri Light", sans-serif;

    margin: auto;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    /*-html-user-select: none;    !* Konqueror *!*/
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

button{
    border: none;
    background: none;
}
#toClick{
    filter: invert(1);
}

/*------------------------main----------------------*/

.info{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    font-size: 30px;
}
main{
    display: flex;
    justify-content: center;
    align-content: center;
}
.container{
    margin-top: 30px;
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.menu > img, svg {
    width: 70px;
    height: 70px;
}
/* img, svg{
    filter: invert(1);
} */
#toClick{
    width: calc(440px - 20%);
    height: calc(440px - 20%);

    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.enegry{
    justify-content: center;
    align-items: center;
    display: flex;

    position: relative;
    right: 10px;
}
#userEnergy, #userMaxEnergy{
    transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
/*------------------------shop----------------------*/

.ShopMain{
    display: flex;
    justify-content: center;
    align-content: center;
}
.ShopContainer{
    margin-top: 100px;
    border: 1px solid white;
    width: calc(100% / 2);
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
.TwoxClicker, .TenxClicker, .c1000Xclicker{
    padding: 10px;
    border: 2px solid white;
}
.pricePart{
    display: flex;
    justify-content: center;
    gap: 19px;
    color: white;
}
.aboutNew{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    bottom: -90px;
    position: relative;
}
button{
    border: 0;
    border: none;
    outline: none;
}
#secondClickButton, #tenClickButton, #hungretClickButton, #thousendClickButton{
    width: 100%;
    background-color: black;
}
#secondClickButton:hover, #tenClickButton:hover, #hungretClickButton:hover, #thousendClickButton:hover {
    cursor: pointer;
}
#shopFrame{
    opacity: 0;
    z-index: 0;
}
#Shop:hover{
    cursor: pointer;
}
#Home{
    position: relative;
    bottom: 95px;
}
#someNewSoon{
    position: relative;
    bottom: 80px;
}
#Home:hover{
    cursor: pointer;
}
#twoXclicker:hover{
    cursor: pointer;
}
.forMoreThan2Type {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 19px;
    color: white;
}
.infoOfItem{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.unusualItemUsage{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    font-size: 15px;
}
/*------------------------task----------------------*/
a{
    color: rgb(158, 198, 243);
    text-decoration: none;
}


.TaskMain{
    display: flex;
    justify-content: center;
    align-content: center;
}
.TaskContainer{
    margin-top: 100px;
    border: 1px solid white;
    width: calc(100% / 2);
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
.FirstTask, .secondTask{
    padding: 10px;
    border: 2px solid white;
}

#check1Task, #check2Task{
    margin-top: 10px;
    border: 1px solid white;
    padding: 5px;
    width: 100%;
    border-radius: 15px;
    color: white;

    cursor: pointer;
}

/*/////// custom settings ///////*/

.CustomMain {
    display: flex;
    justify-content: center;
    align-content: center;
}
.CustomContainer {
    margin-top: 100px;
    border: 1px solid white;
    width: calc(100% / 2);
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
.downPart {
    border: 1px solid white;
    display: flex;
    overflow: hidden;
}
#clickImg {
    width: 500px;
    border: 1px solid white;
    padding: 10px;
}
#clickImg img {
    border: 1px solid white;
}
#clickImg > h3 {
    filter: invert(1);
}
/* /////////US background////////// */

#forUserBG{
    color: transparent;
    border-radius: 13px;
    padding: 8px;
}
#forUserBG::before {
    content: 'Файл не выбран';
    color: #ffffff;
    display: inline-flex;
    text-align: center;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    mix-blend-mode: difference;
}
#forUserBG:hover::before {
    border-color: black;
}
#forUserBG:active {
    outline: 0;
}
#forUserBG::-webkit-file-upload-button {
    visibility: hidden;
}
#forUserBG::-webkit-file-upload-button{
    font-family: "Calibri Light", sans-serif;
    border: none;
    outline: none;

    color: white;
    background-color: #494949;
    padding: 5px 16px;
    border-radius: 50px;
    cursor: pointer;
}

.IOBGup{
    display: flex;
    justify-content: center;
}
.DeadContainer{
    margin-top: 10%;
    /* border: 1px solid white; */
    width: calc(100% / 2);
    height: 100%;
    display: inline-block;
    align-content: center;
    flex-direction: column;
    text-align: center;    
}
.deadMain{
    display: flex;
    justify-content: center;
    align-content: center;
}
#clickImg{
    cursor: pointer;
}
#backButton{
    margin-top: 10%;
    border: 1px solid white;
    padding: 15px;
    width: 100%;
    color: #ffffff;

    transition: cubic-bezier(0.165, 0.84, 1.44, 1);
    animation: clickItButton 1s infinite linear forwards;
    animation-play-state: running;
}
#toComplete{
    color: white;
    background: #323232;
    padding: 10px;
    border-radius: 35px;
}
#backButton:hover {
    animation-play-state: paused;
    outline: 2px solid white;
    cursor: pointer;
}
.IOBGdown{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
/*//////////////////us Style//////////////////*/

.IOBG{
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.IOBGup{
    display: inline-block;
}
#popup-overlay, #popup-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#popup, #popup2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    background-color: #3e3e3e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#popup button, #popup2 button{
    margin-top: 10px;
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
}
#brush{
    position: relative;
    right: 10px;
}
#setting{
    position: relative;
    right: 17px;
}
.menu{
    position: relative;
    left: 7px;
}
.aboutNewBG{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    bottom: -90px;
    position: relative;
}
#linkToMain{
    display: flex;
}
#linkToBack{
    display: flex;
}

/*//////////////// settings ///////////////*/

.account, .order{
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.becomeNew{
    border: 1px solid white;
    margin-top: 20px;
    padding-left: calc(10px + 18.5px);
    padding-right: calc(10px + 18.5px);
    padding-top: calc(10px + 10px);
    padding-bottom: calc(10px + 10px);
    margin-left: 70px;
    margin-right: 70px;
    /*font-size: 20px;*/
    font-weight: bold;
    letter-spacing: 1.4px;
    color: white;
}
.deleteAccount{
    margin-top: 20px;
    border: 1px solid white;
    padding: calc(10px + 10px);
    margin-left: 70px;
    margin-right: 70px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.4px;
}
.deleteAccount > p {
    /*font-size: 20px;*/
    color: red;
}
.SettingsBackground{
    display: flex;
    flex-direction: column;
}

/*//////////////////////////////*/

@keyframes clickItButton{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.02);
    }
    75%{
        transform: scale(0.98);
    }
    100%{
        transform: scale(1);
    }
}


@media (max-width: 2017px) {
    .downPart {
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    #clickImg {
        width: 270px;
        font-size: 30px;
    }
    #upper, #lowwer{
        display: inline;
    }
}

@media (max-width: 1097px) {
    .downPart {
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    #clickImg {
        width: 190px;
        font-size: 20px;
    }
    #upper, #lowwer{
        display: inline;
    }
}

@media (max-width: 411px) {
    .downPart {
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    #clickImg {
        width: 80px;
        font-size: 10px;
    }
    #upper, #lowwer{
        display: inline;
    }
}
@media (max-width: 543px) {
    #forUserBG{
        width: 200px;
    }
}
@media (max-width: 403px) {
    #forUserBG{
        width: 130px;
    }
}
